node_modules/
.expo/
dist/
web-build/
.env
.env.local

*.jks
*.keystore
*.p12
*.pem
*.mobileprovision

android/google-services.json
ios/GoogleService-Info.plist

npm-debug.*
yarn-error.*
.DS_Store
*.log

.idea/
.vscode/
*.swp
